@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}
  
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  background-color: #F2C216;
}

body {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 1024px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  background-color: #ffffff;
}

.main-container {
  flex: 1 0 auto;
}

/* grid page */

.two-columns {
  display: flex;
}

.left-container {
  padding-left: 20px;
  width: 40%;
  border-bottom: 5px solid #F2C216;
  background-color: #343945;
}

.right-container {
  color: #253E50;
  padding-left: 20px;
  width: 61%;
  background-color:#FFFFFF;
  border-left: 5px solid #F2C216;
  border-top: 5px solid #F2C216;
}

/* Navigation */

.navigation__list {
  display: flex;
  justify-content: space-around;
  background-color: #343945;
}

.navigation__item {
  padding: 20px;
}

.navigation__link {
  color: #FFFFFF;
  text-shadow: 1px 1px 2px black;
  text-align: center;
  height: 1px;
  border-radius: 5px;
  background: #F2C216;
  cursor: pointer;
  padding: 2px 8px;
}

/* header */

.header {
  background-color: #343945;
}

.main-header {
  text-align: center;
  background-color: #343945;
}

.my-photo {
  margin: 20px;
  border: 8px solid #F2C216;
  border-radius: 50%;
}

.title {
  margin: 0;
  text-shadow: 1px 1px 2px black;
  font-weight: 700;
  font-size: 35px;
  line-height: 43px;
  text-transform: uppercase;
  letter-spacing: 6px;
}

.title-description {
  margin-bottom: 45px;
}

/* main */

.block__title {
  text-shadow: 1px 1px 2px black;
  margin-top: 20px;
  margin-bottom: 20px;
  position: relative;
  text-align: center;
  width: 220px;
  height: 24px;
  border-radius: 5px;
  background: #F2C216;
  text-transform: uppercase;
  font-weight: 700;
  color: #FFFFFF;
}

.block__title::after {
  top: 11px;
  left: 220px;
  position: absolute;
  content: " ";
  width: 150px;
  border: 1px solid #F2C216;
}

/* Contacts */

.contacts_list {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.contacts__item {
  padding-bottom: 15px;
}

.contacts__description {
  padding-left: 25px;
}

/* Education */

.education__list {
  padding: 25px 0;
}

.education__item {
  padding-bottom: 15px;
}

  /* Skills */

.skills__list {
  padding: 20px 0;
  display: flex;
  flex-wrap: wrap;
}

.skills__item {
  margin-right: 5px;
}

.skills__item:last-child {
  margin: 0;
}

/* About */

.about_link {
  color: #ec7a1d;
  text-shadow: 1px 1px 2px black;
}

.about__text {
  padding-right: 25px;
  padding-top: 20px;
}
 
/* Courses */

.courses__item {
  padding-bottom: 20px;
}

.courses__link {
  color: #253E50;
}


/* Code example */

.code__text {
  padding-bottom: 25px;
}



.code__pre {
  color: #FFFFFF;
  background-color: #343945;
  margin-right: 25px;
  border-radius: 5px;
  font-size: 16px;
}

/* Footer */

.footer {
  padding-top: 25px;
  color: #aa880e;
  background-color: #FFFFFF;
}

.footer__list {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.footer__year {
  font-size: 38px;
  color: #000000;
}

.year {
  color: #F2C216;
}